blockquote {
  margin: 0 auto;
  padding: 1em;
	border-left: 5px solid #999;
}
blockquote:before {
	display: none;
}
blockquote:not(:first-of-type) {
  margin-top: .5em;
}
blockquote p {
	color: #F0F0F0;
	font-size: 12pt;
	line-height: 1.4;
	font-family: 'PT Serif', Cambria, 'Hoefler Text', Utopia, 'Liberation Serif', 'Nimbus Roman No9 L Regular', Times, 'Times New Roman', serif;
}
blockquote cite {
	color: #999999;
	font-size: 14px;
	display: block;
	margin-top: 5px;
}
blockquote cite:before {
			content: "\2014 \2009";
}
blockquote footer {
	margin-top: .5em;
	padding: 0;
	color: #F5F5F5;
	font-size: 12pt;
	text-align: left;
	font-style: italic;
}
blockquote footer:before {
	content: '— ';
}
blockquote:nth-of-type(even) {
								text-align: right;
									border-left: none;
										border-right: 5px solid #999;
									}
																blockquote:nth-of-type(even) footer {
																		text-align: right;
																	}
																	blockquote:nth-of-type(even) footer:before {
																			content: '';
																		}
																		blockquote:nth-of-type(even) footer:after {
																				content: ' —';
																			}
																			@element 'blockquote' and (min-width: 300px) {
																					blockquote {
																								padding: 1em 20% 1em 1em;
																									}
																										blockquote p {
																													font-size: 14pt;
																														}
																															blockquote:nth-of-type(even) {
																																		padding: 1em 1em 1em 20%;
																																			}
}


/* ---------------------------------------
	Start  Blog Section 
----------------------------------------- */
.post-card {
	max-width: 600px;
	margin: auto;
	margin-bottom: 30px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	-webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
.post-card:hover {
	box-shadow: 0 5px 35px rgba(0, 0, 0, 0.15);
	-webkit-transform: translateY(-5px);
	-ms-transform: translateY(-5px);
	transform: translateY(-5px);
}
.post-card .post-info {
	padding: 20px;
}
.post-card .post-info .title {
	margin-top: 0;
	font-size: 21px;
}
.post-card .post-info .meta {
	padding: 0;
	margin-top: 5px;
	margin-bottom: 15px;
}
.post-card .post-info .meta li {
	list-style: none;
	display: inline-block;
}
.post-card .post-info .meta a {
	font-size: 14px;
	color: #929292;
	font-weight: 400;
	margin-right: 20px;
}
.post-card .post-info .meta i {
	margin-right: 2px;
}
.post-card .post-info p {
	font-size: 14px;
	margin-bottom: 15px;
}

#custom1 a {
	color: inherit;
}

#custom2 a {
	color: #fff;
}
